body {
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 2px;
    color: #3a8c30;
}


/*Background image
=============================*/

.background {
    background: url('../img/bg3.jpg');
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: -1;
    -webkit-filter: blur(3px) brightness(1.1) contrast(120%);
    -moz-filter: blur(3px) brightness(1.1) contrast(120%);
    filter: blur(3px) brightness(1.1) contrast(120%);
}


/*Header and navbar
=============================*/
.relative {
  position: relative;
}
.header {
    padding: 15px 0 15px 0;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    position: relative;
    margin-bottom: 115px;
}

.logo-container {
    height: auto;
    display: block;
    margin: auto;
    margin-top: 13px;
    cursor: pointer;
}

.logo {
    height: 100px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    padding-top: 3px;
    color: #3a8c30;
}

.logo h1 {
    font-size: 3.5em;
    margin: 0;
}

.logo a {
    text-decoration: none;
    color: #3a8c30;
    cursor: pointer;
}

.logo img {
    padding-bottom: 11px;
    height: 100px;
}

.logo-text {
    height: 100px;
    padding-top: 10px;
    padding-left: 30px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    color: #3a8c30;
}

.logo-text p {
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.logo-text p:last-child {
    letter-spacing: 0.22em;
    margin-right: -0.22em;
}

.sticky {
    padding: 0;
    overflow: auto;
    background: #3a8c30;
    border: 0;
    position: absolute;
    top:15px;
    left: 0;
    width: 100%;
    z-index: 5;
}

.sticky li {
    height: 80px;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.nav>li>a {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 1.2em;
}

.navbar-default .navbar-nav>li>a {
    height: 80px;
    padding-top: 30px;
    color: #fff;
    text-align: center;
    transition: 0.4s;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    background: rgba(255, 255, 255, 0.9);
    color: #3a8c30;
    transition: 0.4s;
}

.navbar-default .navbar-nav>li>a:hover:focus {
    color: #3a8c30;
}

.navbar-default .navbar-nav>li>a:hover:active {
    background: rgba(255, 255, 255, 0.9);
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: #3a8c30;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: initial;
}

.navbar-toggle {
    margin-top: 23px;
    margin-bottom: 23px;
}


/*Content
===============================*/

.content-section {
    z-index: 1;
}


/*ABOUT
===============================*/

.about, .ambassadors, .forum, .growers-b2b, .trippy, .container {
    background: rgba(255, 255, 255, 0.9);
    text-align: justify;
    padding-top: 40px;
    padding-bottom: 64px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
}

.about h1, .about h3, .about h4, .ambassadors h1, .ambassadors h3, .forum h1, .trippy h1, .contact h1 {
    text-align: center;
    font-weight: bold;
    color: #3a8c30;
    cursor: default;
}

.about h1, .ambassadors h1, .forum h1, .trippy h1 {
    border-bottom: 1px solid rgba(200, 200, 200, 0.6);
}

.about h4 {
    margin-top: 0;
}

.about a {
    text-decoration: none;
    color: #3fa036;
}

.about a:hover {
    color: #307428;
}

.about p, .ambassadors p, .forum p {
    font-size: 1.7em;
    line-height: 2em;
    letter-spacing: 1px;
    text-indent: 50px;
}


/*ambassadors
===============================*/

.mdl-textfield {
    width: 100%;
}

.mdl-textfield__input {
    margin-bottom: 5px;
    padding-bottom: 0;
}

.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #3a8c30;
    font-size: 16px;
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: #3a8c30;
    font-size: 16px;
}

.mdl-textfield__label:after {
    background-color: #3a8c30;
}

.mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: rgba(0, 0, 0, .12);
}

.mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: #3a8c30;
}

form button {
    display: block;
    width: 200px;
    height: 60px;
    margin: auto;
    border: none;
    background-color: #3a8c30;
    color: #fff;
    font-size: 2em;
    letter-spacing: 3px;
    transition: 0.4s;
    border-radius: 5px;
}

form button:hover {
    background-color: #fff;
    border: 1px solid #3a8c30;
    color: #3a8c30;
}


/*FORUM
===============================*/

/*.forum-message {
    border: 1px solid rgba(200, 200, 200, 0.6);
    border-radius: 10px;
    margin-top: 20px;
}*/

/*.forum-message p {
    letter-spacing: 1px;
    font-size: 1.5em;
    line-height: 1.5em;
}*/
.action {
  margin-top: 90px;
}
.gear {
  text-align: center;
}
.forum-message h3,
.trippy h3 {
  text-align: center;
  font-weight: bold;
}
.forum-buttons {
    margin-top: 40px;
    text-align: center;
}

.forum-buttons button {
    width: 200px;
    height: 60px;
    background: #3a8c30;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    font-size: 1em;
    letter-spacing: 3px;
    transition: 0.4s;
    margin-top: 20px;
}

.forum-buttons button:disabled {
    background: #7a9178;
    cursor: not-allowed;
}

.forum-buttons button:disabled:hover {
    background: #7a9178;
}

.forum-buttons button:hover {
    background-color: #fff;
    border: 1px solid #3a8c30;
    color: #3a8c30;
}


/*Growers & B2B
===============================*/

.growers, .b2b {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin-top: 20px;
}

.growers-b2b h2 {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid rgba(200, 200, 200, 0.2);
    margin-bottom: 20px;
}

.growers-b2b p {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 20px;
}

.growers-b2b h3 {
    font-weight: bold;
    color: #3a8c30;
    text-align: center;
    letter-spacing: 0;
}

.growers-b2b h5 {
    text-align: justify;
    color: #3a8c30;
    line-height: 1.3em;
}

.b2b-form {
    margin-top: 50px;
}

.b2b-form form {
    margin-top: 40px;
    margin-bottom: 40px;
}


/*Growers & B2B
===============================*/

.trippy h4 {
    color: #3a8c30;
    text-align: center;
    font-weight: bold;
}
.trippy h2 {
  text-align: center;
}

/*FOOTER
===============================*/

.footer {
    margin-top: 50px;
}

.footer h1 {
    color: #fff;
}
.contact {
  background: rgba(58, 140, 48, 0.9);
}
#contact-section .mdl-textfield__label {
  color: rgba(255,255,255,0.7);
}
#contact-section .mdl-textfield__input {
border-bottom: 1px solid rgba(255,255,255,.7);
}
.footer .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #fff;
}

.footer .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: #fff;
}

.footer .mdl-textfield__label:after {
    background-color: #fff;
}
.footer .mdl-textfield__input {
  color:#fff;
}
.footer .mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: rgba(255, 255, 255, .9);
    color:#fff;
}

.footer .mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: #fff;
    color:#fff;
}

.footer form button {
    background-color: #fff;
    color: #3a8c30;
    transition: .4s;
    margin-bottom: 40px;
}

.footer form button:hover {
    background-color: #3a8c30;
    border: 1px solid #fff;
    color: #fff;
}
.social {
  text-align: center;
  margin-bottom: 40px;
}
.footer button {
  color: #fff;
  padding: 0;
  background: none;
  border: 0;
}
.social button {
  margin-left: 20px;
  margin-right: 20px;
}
.social button i {
  transition: .2s;
}
.social button:hover i {
  transition: .2s;
  transform: scale(1.2);
}
/*Media query
===============================*/

@media (min-width:768px) {
    .content-section {
        margin-top: 40px;
    }
    .about, .ambassadors, .forum, .growers-b2b, .trippy {
        border-radius: 10px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 1.5em;
    }
    .header {
        margin-bottom: 80px;
    }
    .about p, .ambassadors p, .forum p {
        font-size: 1.3em;
    }
    .navbar-default .navbar-nav>li {
        height: 50px;
    }
    .navbar-default .navbar-nav>li>a {
        padding-top: 17px;
        padding-bottom: 10px;
        font-size: 1.5em;
        height: 50px;
    }
    .social button {
      margin-left: 10px;
      margin-right: 10px;
    }
}

@media (max-width:400px) {
    h1 {
        font-size: 1.7em;
    }
    h3 {
        font-size: 1.5em;
    }
    .about p, .ambassadors p, .forum p {
        line-height: 1.6em;
    }
    .logo {
        display: block;
        width: 100%;
        height: 50px;
    }
    .logo img {
        height: 50px;
    }
    .logo h1 {
        font-size: 2.6em;
    }
    .b2b-form h3 {
        font-size: 1em;
        width: 100%;
        margin-left: 0;
        line-height: 1.4em;
    }
    .b2b-form h5 {
        margin-left: 0;
        width: 100%;
        font-size: 1em;
    }
}
